.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.name-title {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;

}

.input-group-text {
    font-family: 'DM Sans', sans-serif;
}

.btn btn-secondary {
    font-family: 'DM Sans', sans-serif;
}
