body {
  font-family: 'DM Sans';
  font-weight: bold;
}

.title { 
  text-align: center;
  color: rgb(21, 31, 56);
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
} 

